{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <h1>{{ title }}</h1>

    {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.description) }}
        {{ form_row(form.price) }}
        {{ form_row(form.stock) }}
        {{ form_row(form.image) }}
        {{ form_row(form.size) }}
        {{ form_row(form.isFeatured) }}

        <button type="submit">Enregistrer</button>
    {{ form_end(form) }}

    <p>
        <a href="{{ path('app_admin') }}">Retour au back-office</a>
    </p>
{% endblock %}